* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    overflow-x: hidden;
}

.background{
    background: url(/images/fundo_login.jpg);
    height: 100%;
    display: flex;
}

.logochamado{
    width: 9rem;
    margin-left: 30%;
    justify-content: center;
}

.card{
    margin-top:10%;
    margin-left: 35%;
    width: 30%;
    height: 60;
    justify-content: center;
}

span{
    color: red;
    font-size: 12;
}

@media (max-width: 920px) {
    .logochamado{
        width: 9rem;
        margin-left: 20%;
        justify-content: center;
    }

    .card{
        margin-top: 30%;
        margin-left: 10%;
        width: 80%;
        height: 60;
        justify-content: center;
    }
}
